body{
    background:linear-gradient(rgba(15, 59, 65, 0.9),rgba(15, 59, 65, 0.9)),url(/Assigement/pexels-cátia-matos-1072179.jpg)
}
.h3{
    color: white;
}
@media screen and (max-width:1024px){
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        right: 100px;
        top: 7px;
        
        
    }
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    

}
.navbar .nav-link:hover{
    color: rgb(42, 107, 42);

}
.profile-img{
 display:flex;
margin-left: auto;
height:17rem;
margin-top: -215px;
border: 2px solid white;
margin-left: 45rem;
border-radius: 50%;

}

.container{
    color: white;
    margin-top: 8rem;
    line-height: 30px;
    padding-left: 11rem;

}
.container p{
    font-weight: 600;
}

.container h4{
    line-height: 30px;
    font-weight: bold;
    color: rgb(22, 168, 22);
}

.button{
    font-weight: 600;
    margin-left:65px;
}

.button:hover{
    color: rgb(42, 107, 42);
}
.container-fluid .card{
    right: auto;
    margin-top:8rem;
    margin-left: 11rem;
    text-align: center;
    bottom:auto ;
}

.about-text{
    float: right;
    position: absolute;
    left: 50%;
    font-weight: 600;
    line-height: 25px;
    padding-top: 13px;
}
.about-img{
    height: 13rem;
    width: 30rem;
    border-radius: .5cm;
}
.nav-item a{
    color: black;
    padding: 5px;
    letter-spacing:1px;
    font-weight: 600;
}
.heading{
    color: white;
}
.card{
    padding-right: px;
    padding: 15px;
    text-align: center;
    margin-top: -5px;
}
.card h5{
    font-weight: 600;
}
